<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.onecal.onecal">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ContactViewActivity"
            android:label="@string/title_activity_contact_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AssignContactActivity"
            android:label="@string/title_activity_assign_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaggingContactActivity"
            android:label="@string/title_activity_tag_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaggedPeopleViewActivity"
            android:label="@string/tagged_contacts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArchivedEventsActivity"
            android:label="@string/archived_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArchivedPeopleActivity"
            android:label="@string/archived_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|uiMode"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name="OneCalDark"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="OneCalLight"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_light"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".AddReminderActivity"
            android:label="@string/title_activity_add_reminder"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.AlarmReminderProvider"
            android:authorities="tk.onecal.onecal"
            android:exported="false" />
        <provider
            android:name=".data.PeopleCustomProvider"
            android:authorities="tk.onecal.onecal.people"
            android:exported="true" />

        <service
            android:name=".reminder.ReminderAlarmService"
            android:exported="false" />

        <activity
            android:name=".GroupsEditActivity"
            android:label="@string/title_activity_groups_edit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AnnoyingAlarmActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:label="@string/title_activity_annoying_alarm"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme" />

        <service
            android:name=".ChatHeadService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_newcal_people" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr,text" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".PeopleActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:icon="@mipmap/ic_launcher_people"
            android:label="@string/people_title"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity-alias
            android:name="PeopleDark"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_people"
            android:label="@string/people_title"
            android:targetActivity=".PeopleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="PeopleLight"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_people_light"
            android:label="@string/people_title"
            android:targetActivity=".PeopleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <service android:name=".BootService"/>

        <receiver android:name=".RestartAlarmsReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>